<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>My First Demo</title>
        <input-field type="text">
            <label>name</label>
            <label lang="de-DE">name</label>
            <required>1</required>
        </input-field>

        <input-field type="text">
            <label>city</label>
            <label lang="de-DE">city</label>
            <required>1</required>
        </input-field>

        <component name="custom-config-component">
            <name>active</name>
        </component>
    </card>
</config>
